@page
@model SkystoneScouting.Pages.Teams.IndexModel

@{
    ViewData["Title"] = "Teams";
}

@section Styles{
    <!--Animate for notifications-->
    <link href="plugins/animate-css/animate.css" rel="stylesheet">
    <!--Action buttons column resize-->
    <style>

        @@media only screen and (max-width:768px) {
            .action-column {
                width: 140px;
            }
        }

        @@media only screen and (min-width:769px) {
            .action-column {
                width: 200px;
            }
        }
    </style>
}

<div class="block-header">
    <h2 style="font-weight:bolder;">
        Teams list
    </h2>
    <ol class="breadcrumb">
        <li>
            <a asp-page="/Events/Index">
                <i class="material-icons">event</i> Events
            </a>
        </li>
        <li class="active">
            <a asp-page="Index" asp-route-EventID="@Model.eventID">
                <i class="material-icons">people</i> Teams
            </a>
        </li>
    </ol>
</div>

@if (Model.AuthorizedTeams.Count == 0)
{
    <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="info-box bg-blue hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">info</i>
                </div>
                <div class="content">
                    <div class="text">Information</div>
                    <div class="number">
                        No teams
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row clearfix hidden-mobile">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="info-box bg-blue hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">assignment_turned_in</i>
                </div>
                <div class="content" style="
    width: calc(100% - 70px);
">
                    <div class="text">Team Scouting @Model.ScoutingPercentage% | @Model.ScoutedTeams.Count / @Model.AuthorizedTeams.Count Teams</div>
                    <div style="background-color: lightgray;height: 25px;width: 100%;">
                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: @Model.ScoutingPercentage%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.BestOPR != null)
        {
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="info-box bg-orange hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">trending_up</i>
                    </div>
                    <div class="content">
                        <div class="text">Best OPR</div>
                        <div class="number">
                            @Model.BestOPR
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (Model.BestDPR != null)
        {
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="info-box bg-orange hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">trending_up</i>
                    </div>
                    <div class="content">
                        <div class="text">Best DPR</div>
                        <div class="number">
                            @Model.BestDPR
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (Model.BestCCWM != null)
        {
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="info-box bg-orange hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">trending_up</i>
                    </div>
                    <div class="content">
                        <div class="text">Best CCWM</div>
                        <div class="number">
                            @Model.BestCCWM
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@if (Model.NotScoutedTeams.Count != 0)
{
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Incomplete Teams</h2>
                </div>
                <div class="body table-responsive">
                    <table class="table table-hover" style="table-layout:fixed;">
                        <thead>
                            <tr>
                                <th width="50px">
                                    <a style="color: #424242;" asp-page="./Index" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Model.teamID" asp-route-SortOrder="@Model.IDSort">
                                        NR
                                    </a>
                                </th>
                                <th>
                                    <a style="color: #424242;" asp-page="./Index" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Model.teamID" asp-route-SortOrder="@Model.NameSort">
                                        TEAM NAME
                                    </a>
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-orange" width="50px">
                                    <a style="color: white;" asp-page="./Index" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Model.teamID" asp-route-SortOrder="@Model.AvgPTSSort">
                                        AVG
                                    </a>
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-orange" width="50px">
                                    <a style="color: white;" asp-page="./Index" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Model.teamID" asp-route-SortOrder="@Model.AvgRPSort">
                                        RP
                                    </a>
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-orange" width="50px">
                                    <a style="color: white;" asp-page="./Index" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Model.teamID" asp-route-SortOrder="@Model.AvgTBPSort">
                                        TBP
                                    </a>
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-orange" width="50px">
                                    <a style="color: white;" asp-page="./Index" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Model.teamID" asp-route-SortOrder="@Model.OPRSort">
                                        OPR
                                    </a>
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-orange" width="50px">
                                    <a style="color: white;" asp-page="./Index" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Model.teamID" asp-route-SortOrder="@Model.DPRSort">
                                        DPR
                                    </a>
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-orange" width="60px">
                                    <a style="color: white;" asp-page="./Index" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Model.teamID" asp-route-SortOrder="@Model.CCWMSort">
                                        CCWM
                                    </a>
                                </th>
                                <th class="action-column"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Team in Model.NotScoutedTeams)
                            {
                                <tr>
                                    <td>
                                        @Team.TeamNumber
                                    </td>
                                    <td style="overflow:hidden;">
                                        @Team.TeamName
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @if (Team.AvgPTS != null)
                                        {
                                            @Team.AvgPTS}
                                        else
                                        {
                                            @Html.Raw("N/A")}
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @if (Team.AvgRP != null)
                                        {
                                            @Team.AvgRP}
                                        else
                                        {
                                            @Html.Raw("N/A")}
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @if (Team.AvgTBP != null)
                                        {
                                            @Team.AvgTBP}
                                        else
                                        {
                                            @Html.Raw("N/A")}
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @if (Team.OPR != null)
                                        {
                                            @Team.OPR}
                                        else
                                        {
                                            @Html.Raw("N/A")}
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @if (Team.DPR != null)
                                        {
                                            @Team.DPR}
                                        else
                                        {
                                            @Html.Raw("N/A")}
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @if (Team.CCWM != null)
                                        {
                                            @Team.CCWM}
                                        else
                                        {
                                            @Html.Raw("N/A")}
                                    </td>
                                    <td>
                                        <div class="btn-toolbar">
                                            <div class="btn-group">
                                                <a asp-page="/ScoutedMatches/Index" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Team.ID" class="btn btn-primary btn-lg waves-effect"><strong>SCOUT</strong></a>
                                                <a asp-page="Edit" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Team.ID" class="btn btn-primary waves-effect"><i class="material-icons">mode_edit</i></a>
                                                <a href="javascript:;" onclick="createModal('@Team.TeamName','@Model.eventID','@Team.ID');" class="btn btn-primary waves-effect hidden-mobile hidden-tablet"><i class="material-icons">delete</i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.ScoutedTeams.Count != 0)
{
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Teams</h2>
                </div>
                <div class="body table-responsive">
                    <table class="table table-hover" style="table-layout:fixed;">
                        <thead>
                            <tr>
                                <th width="50px">
                                    <a style="color: #424242;" asp-page="./Index" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Model.teamID" asp-route-SortOrder="@Model.IDSort">
                                        NR
                                    </a>
                                </th>
                                <th>
                                    <a style="color: #424242;" asp-page="./Index" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Model.teamID" asp-route-SortOrder="@Model.NameSort">
                                        TEAM NAME
                                    </a>
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-orange" width="50px">
                                    <a style="color: white;" asp-page="./Index" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Model.teamID" asp-route-SortOrder="@Model.ExpPTSSort">
                                        EXP
                                    </a>
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-orange" width="50px">
                                    <a style="color: white;" asp-page="./Index" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Model.teamID" asp-route-SortOrder="@Model.AvgPTSSort">
                                        AVG
                                    </a>
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-orange" width="50px">
                                    <a style="color: white;" asp-page="./Index" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Model.teamID" asp-route-SortOrder="@Model.AvgRPSort">
                                        RP
                                    </a>
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-orange" width="50px">
                                    <a style="color: white;" asp-page="./Index" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Model.teamID" asp-route-SortOrder="@Model.AvgTBPSort">
                                        TBP
                                    </a>
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-orange" width="50px">
                                    <a style="color: white;" asp-page="./Index" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Model.teamID" asp-route-SortOrder="@Model.OPRSort">
                                        OPR
                                    </a>
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-orange" width="50px">
                                    <a style="color: white;" asp-page="./Index" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Model.teamID" asp-route-SortOrder="@Model.DPRSort">
                                        DPR
                                    </a>
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-orange" width="60px">
                                    <a style="color: white;" asp-page="./Index" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Model.teamID" asp-route-SortOrder="@Model.CCWMSort">
                                        CCWM
                                    </a>
                                </th>
                                <th class="action-column"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Team in Model.ScoutedTeams)
                            {
                                <tr>
                                    <td>
                                        @Team.TeamNumber
                                    </td>
                                    <td style="overflow:hidden;">
                                        @Team.TeamName
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @Team.ExpPTS
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @if (Team.AvgPTS != null)
                                        {
                                            @Team.AvgPTS}
                                        else
                                        {
                                            @Html.Raw("N/A")}
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @if (Team.AvgRP != null)
                                        {
                                            @Team.AvgRP}
                                        else
                                        {
                                            @Html.Raw("N/A")}
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @if (Team.AvgTBP != null)
                                        {
                                            @Team.AvgTBP}
                                        else
                                        {
                                            @Html.Raw("N/A")}
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @if (Team.OPR != null)
                                        {
                                            @Team.OPR
                                        }
                                        else
                                        {
                                            @Html.Raw("N/A")}
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @if (Team.DPR != null)
                                        {
                                            @Team.DPR}
                                        else
                                        {
                                            @Html.Raw("N/A")}
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @if (Team.CCWM != null)
                                        {
                                            @Team.CCWM}
                                        else
                                        {
                                            @Html.Raw("N/A")}
                                    </td>
                                    <td>
                                        <div class="btn-toolbar">
                                            <div class="btn-group">
                                                <a asp-page="/ScoutedMatches/Index" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Team.ID" class="btn btn-primary btn-lg waves-effect"><strong>SCOUT</strong></a>
                                                <a asp-page="Edit" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Team.ID" class="btn btn-primary waves-effect"><i class="material-icons">mode_edit</i></a>
                                                <a href="javascript:;" onclick="createModal('@Team.TeamName','@Model.eventID','@Team.ID');" class="btn btn-primary waves-effect hidden-mobile hidden-tablet"><i class="material-icons">delete</i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

<a class="btn btn-primary btn-circle-lg waves-effect waves-circle waves-float" style="position:fixed; right:35px; bottom:35px;" asp-page="Create" asp-route-EventID="@Model.eventID">
    <i class="material-icons">add</i>
</a>

@section Scripts{
    <script>
        function createModal(Name, EventID, TeamID) {
            var oldError = document.getElementById("deleteModal");
            if (oldError == null)
                $("body").append('<div class="modal fade in" id="deleteModal" tabindex="-1" role="dialog" style="display: block;"></div>');
            $("#deleteModal").html('<div class="modal-dialog modal-sm" brole="document"><div class="modal-content"><div class="modal-header bg-red"><h4 class="modal-title" id="defaultModalLabel">Delete team</h4></div><div class="modal-body">Are you sure you want to delete<br />' + Name + ' ?</div > <div class="modal-footer"> <a href="Teams?EventID=' + EventID + '&TeamID=' + TeamID + '&handler=Delete" class="btn btn-danger waves-effect hidden-mobile hidden-tablet">DELETE</a>  <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CANCEL</button> </div>        </div >             </div > ');
            $("#deleteModal").modal(); // show the modal

        }
    </script>

}