@page
@model SkystoneScouting.Pages.Teams.IndexModel

@{
    ViewData["Title"] = "Teams";
}

@section Styles{
    <!--Action buttons column resize-->
    <style>

        @@media only screen and (max-width:768px) {
            .action-column {
                width: 140px;
            }
        }

        @@media only screen and (min-width:769px) {
            .action-column {
                width: 200px;
            }
        }
    </style>
}

<div class="block-header">
    <h2 style="font-weight:bolder;">
        Teams list
    </h2>
    <ol class="breadcrumb">
        <li class="active">
            <a asp-page="/Events/Index">
                <i class="material-icons">event</i> Events
            </a>
        </li>
        <li class="active">
            <a asp-page="Index">
                <i class="material-icons">people</i> Teams
            </a>
        </li>
    </ol>
</div>

@if (Model.NotScoutedTeams.Count != 0)
{
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Incomplete Teams</h2>
                </div>
                <div class="body table-responsive">
                    <table class="table table-hover" style="table-layout:fixed;">
                        <thead>
                            <tr>
                                <th width="50px">
                                    NR
                                </th>
                                <th>
                                    TEAM NAME
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-amber" width="50px">
                                    EXP
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-amber" width="50px">
                                    AVG
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-amber" width="50px">
                                    OPR
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-amber" width="50px">
                                    DPR
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-amber" width="60px">
                                    CCWM
                                </th>
                                <th class="action-column"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Team in Model.NotScoutedTeams)
                            {
                                <tr>
                                    <td>
                                        @Team.TeamNumber
                                    </td>
                                    <td style="word-wrap:break-word">
                                        @Team.TeamName
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @Team.ExpPTS
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @Team.AvgPTS
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @if (Team.OPR != 0)
                                        {
                                            @Team.OPR}
                                        else
                                        {
                                            @Html.Raw("N/A")}
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @if (Team.DPR != 0)
                                        {
                                            @Team.DPR}
                                        else
                                        {
                                            @Html.Raw("N/A")}
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @Team.CCWM
                                    </td>
                                    <td>
                                        <div class="btn-toolbar">
                                            <div class="btn-group">
                                                <a asp-page="/Dashboard" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Team.ID" class="btn btn-primary btn-lg waves-effect"><strong>SCOUT</strong></a>
                                                <a asp-page="Edit" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Team.ID" class="btn btn-primary waves-effect"><i class="material-icons">mode_edit</i></a>
                                                <a asp-page="Delete" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Team.ID" class="btn btn-primary waves-effect hidden-mobile hidden-tablet"><i class="material-icons">delete</i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.ScoutedTeams.Count != 0)
{
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Teams</h2>
                </div>
                <div class="body table-responsive">
                    <table class="table table-hover" style="table-layout:fixed;">
                        <thead>
                            <tr>
                                <th width="50px">
                                    NR
                                </th>
                                <th>
                                    TEAM NAME
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-amber" width="50px">
                                    EXP
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-amber" width="50px">
                                    AVG
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-amber" width="50px">
                                    OPR
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-amber" width="50px">
                                    DPR
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-amber" width="60px">
                                    CCWM
                                </th>
                                <th class="action-column"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Team in Model.ScoutedTeams)
                            {
                                <tr>
                                    <td>
                                        @Team.TeamNumber
                                    </td>
                                    <td style="word-wrap:break-word">
                                        @Team.TeamName
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @Team.ExpPTS
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @Team.AvgPTS
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @if (Team.OPR != 0)
                                        {
                                            @Team.OPR
                                        }
                                        else
                                        {
                                            @Html.Raw("N/A")}
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @if (Team.DPR != 0)
                                        {
                                            @Team.DPR}
                                        else
                                        {
                                            @Html.Raw("N/A")}
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @Team.CCWM
                                    </td>
                                    <td>
                                        <div class="btn-toolbar">
                                            <div class="btn-group">
                                                <a asp-page="/Dashboard" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Team.ID" class="btn btn-primary btn-lg waves-effect"><strong>SCOUT</strong></a>
                                                <a asp-page="Edit" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Team.ID" class="btn btn-primary waves-effect"><i class="material-icons">mode_edit</i></a>
                                                <a asp-page="Delete" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Team.ID" class="btn btn-primary waves-effect hidden-mobile hidden-tablet"><i class="material-icons">delete</i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.AuthorizedTeams.Count == 0)
{
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="info-box bg-blue hover-expand-effect" style="width:300px;">
                <div class="icon">
                    <i class="material-icons">info</i>
                </div>
                <div class="content">
                    <div class="text">Information</div>
                    <div class="number">
                        No teams
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<a class="btn btn-primary btn-circle-lg waves-effect waves-circle waves-float" style="position:fixed; right:35px; bottom:35px;" asp-page="Create" asp-route-EventID="@Model.eventID">
    <i class="material-icons">add</i>
</a>