@page
@model SkystoneScouting.Pages.Teams.IndexModel

@{
    ViewData["Title"] = "Teams";
}

@section Styles{
    <!--Animate for notifications-->
    <link href="plugins/animate-css/animate.css" rel="stylesheet">
    <!--Action buttons column resize-->
    <style>

        @@media only screen and (max-width:768px) {
            .action-column {
                width: 140px;
            }
        }

        @@media only screen and (min-width:769px) {
            .action-column {
                width: 200px;
            }
        }

        @@media only screen and (max-width:768px) {
            .team-number-column {
                width: -webkit-calc(100% - 140px);
                width: -moz-calc(100% - 140px);
                width: calc(100% - 140px);
            }
        }

        @@media only screen and (min-width:769px) {
            .team-number-column {
                width: 50px;
            }
        }
    </style>
}

<div class="block-header">
    <h2 style="font-weight:bolder;">
        Teams list
    </h2>
    <ol class="breadcrumb">
        <li class="active">
            <a asp-page="/Events/Index">
                <i class="material-icons">event</i> Events
            </a>
        </li>
        <li class="active">
            <a asp-page="Index">
                <i class="material-icons">people</i> Teams
            </a>
        </li>
    </ol>
</div>

@if (Model.AuthorizedTeams.Count == 0)
{
    <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="info-box bg-blue hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">info</i>
                </div>
                <div class="content">
                    <div class="text">Information</div>
                    <div class="number">
                        No teams
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    double BestOPR, BestDPR, BestCCWM, ScoutingPercentage;
    ScoutingPercentage = Model.ScoutedTeams.Count * 100 / Model.AuthorizedTeams.Count;
    BestOPR = Model.AuthorizedTeams.Max(t => t.OPR);
    BestDPR = Model.AuthorizedTeams.Max(t => t.DPR);
    BestCCWM = Model.AuthorizedTeams.Min(t => t.CCWM);

    <div class="row clearfix hidden-mobile">
        <div class="col-lg-6 col-md-6 col-sm-6 col-sm-6">
            <div class="info-box bg-blue hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">info</i>
                </div>
                <div class="content" style="
    width: calc(100% - 70px);
">
                    <div class="text">Team Scouting @ScoutingPercentage% | @Model.ScoutedTeams.Count / @Model.AuthorizedTeams.Count Teams</div>
                    <div style="background-color: lightgray;height: 25px;width: 100%;">
                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: @ScoutingPercentage%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-sm-2">
            <div class="info-box bg-orange hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">flash_on</i>
                </div>
                <div class="content">
                    <div class="text">Best OPR</div>
                    <div class="number">
                        @if (BestOPR != 0.0)
                        {
                            @BestOPR
                        }
                        else
                        {
                            @Html.Raw("N/A Yet")
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-sm-2">
            <div class="info-box bg-orange hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">flash_on</i>
                </div>
                <div class="content">
                    <div class="text">Best DPR</div>
                    <div class="number">
                        @if (BestDPR != 0.0)
                        {
                            @BestDPR
                        }
                        else
                        {
                            @Html.Raw("N/A Yet")
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-sm-2">
            <div class="info-box bg-orange hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">flash_on</i>
                </div>
                <div class="content">
                    <div class="text">Best CCWM</div>
                    <div class="number">
                        @if (BestCCWM != 0.0)
                        {
                            @BestCCWM
                        }
                        else
                        {
                            @Html.Raw("N/A Yet")
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.NotScoutedTeams.Count != 0)
{
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Incomplete Teams</h2>
                </div>
                <div class="body table-responsive">
                    <table class="table table-hover" style="table-layout:fixed;">
                        <thead>
                            <tr>
                                <th class="team-number-column" width="50px">
                                    NR
                                </th>
                                <th class="hidden-mobile hidden-tablet">
                                    TEAM NAME
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-orange" width="50px">
                                    EXP
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-orange" width="50px">
                                    AVG
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-orange" width="50px">
                                    OPR
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-orange" width="50px">
                                    DPR
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-orange" width="60px">
                                    CCWM
                                </th>
                                <th class="action-column"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Team in Model.NotScoutedTeams)
                            {
                                <tr>
                                    <td>
                                        @Team.TeamNumber
                                    </td>
                                    <td class="hidden-mobile hidden-tablet" style="word-wrap:break-word">
                                        @Team.TeamName
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @Team.ExpPTS
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @Team.AvgPTS
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @if (Team.OPR != 0)
                                        {
                                            @Team.OPR}
                                        else
                                        {
                                            @Html.Raw("N/A")}
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @if (Team.DPR != 0)
                                        {
                                            @Team.DPR}
                                        else
                                        {
                                            @Html.Raw("N/A")}
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @Team.CCWM
                                    </td>
                                    <td>
                                        <div class="btn-toolbar">
                                            <div class="btn-group">
                                                <a asp-page="/Dashboard" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Team.ID" class="btn btn-primary btn-lg waves-effect"><strong>SCOUT</strong></a>
                                                <a asp-page="Edit" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Team.ID" class="btn btn-primary waves-effect"><i class="material-icons">mode_edit</i></a>
                                                <a asp-page="Delete" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Team.ID" class="btn btn-primary waves-effect hidden-mobile hidden-tablet"><i class="material-icons">delete</i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.ScoutedTeams.Count != 0)
{
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Teams</h2>
                </div>
                <div class="body table-responsive">
                    <table class="table table-hover" style="table-layout:fixed;">
                        <thead>
                            <tr>
                                <th class="team-number-column" width="50px">
                                    NR
                                </th>
                                <th class="hidden-mobile hidden-tablet">
                                    TEAM NAME
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-orange" width="50px">
                                    EXP
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-orange" width="50px">
                                    AVG
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-orange" width="50px">
                                    OPR
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-orange" width="50px">
                                    DPR
                                </th>
                                <th class="hidden-mobile hidden-tablet bg-orange" width="60px">
                                    CCWM
                                </th>
                                <th class="action-column"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Team in Model.ScoutedTeams)
                            {
                                <tr>
                                    <td>
                                        @Team.TeamNumber
                                    </td>
                                    <td class="hidden-mobile hidden-tablet" style="word-wrap:break-word">
                                        @Team.TeamName
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @Team.ExpPTS
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @Team.AvgPTS
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @if (Team.OPR != 0)
                                        {
                                            @Team.OPR
                                        }
                                        else
                                        {
                                            @Html.Raw("N/A")}
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @if (Team.DPR != 0)
                                        {
                                            @Team.DPR}
                                        else
                                        {
                                            @Html.Raw("N/A")}
                                    </td>
                                    <td class="hidden-mobile hidden-tablet">
                                        @Team.CCWM
                                    </td>
                                    <td>
                                        <div class="btn-toolbar">
                                            <div class="btn-group">
                                                <a asp-page="/Dashboard" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Team.ID" class="btn btn-primary btn-lg waves-effect"><strong>SCOUT</strong></a>
                                                <a asp-page="Edit" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Team.ID" class="btn btn-primary waves-effect"><i class="material-icons">mode_edit</i></a>
                                                <a asp-page="Delete" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Team.ID" class="btn btn-primary waves-effect hidden-mobile hidden-tablet"><i class="material-icons">delete</i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

<a class="btn btn-primary btn-circle-lg waves-effect waves-circle waves-float" style="position:fixed; right:35px; bottom:35px;" asp-page="Create" asp-route-EventID="@Model.eventID">
    <i class="material-icons">add</i>
</a>