@page
@model SkystoneScouting.Pages.OfficialMatches.IndexModel

@{
    ViewData["Title"] = "Official matches";
}

<div class="block-header">
    <h2 style="font-weight:bolder;">
        Official matches list
    </h2>
    <ol class="breadcrumb">
        <li>
            <a asp-page="/Events/Index">
                <i class="material-icons">event</i> Events
            </a>
        </li>
        <li class="active">
            <a asp-page="Index" asp-route-EventID="@Model.eventID">
                <i class="material-icons">flag</i> Official matches
            </a>
        </li>
    </ol>
</div>

@if (Model.AuthorizedOfficialMatches.Count() == 0)
{
    <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="info-box bg-blue hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">info</i>
                </div>
                <div class="content">
                    <div class="text">Information</div>
                    <div class="number">
                        No matches
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{

    <div class="row clearfix hidden-mobile">
        <div class="col-lg-3 col-md-3 col-sm-3 col-sm-3">
            <div class="info-box bg-blue hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">info</i>
                </div>
                <div class="content">
                    <div class="text"># Matches</div>
                    <div class="number">
                        @Model.AuthorizedOfficialMatches.Count()
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-sm-3">
            <div class="info-box bg-blue hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">info</i>
                </div>
                <div class="content">
                    <div class="text">#Matches/team</div>
                    <div class="number">
                        @Model.MatchesPerTeam
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-sm-3">
            <div class="info-box bg-orange hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">trending_up</i>
                </div>
                <div class="content">
                    <div class="text">Best score</div>
                    <div class="number">
                        @Model.BestScore
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-sm-3">
            <div class="info-box bg-orange hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">trending_flat</i>
                </div>
                <div class="content">
                    <div class="text">Average score</div>
                    <div class="number">
                        @Model.AverageScore
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (Model.FinalsOfficialMatches.Count != 0)
    {
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Finals Matches</h2>
                    </div>
                    <div class="body table-responsive">
                        <table class="table table-hover" style="table-layout:fixed;">
                            <thead>
                                <tr>
                                    <th style="width:75px;">
                                        NR
                                    </th>
                                    <th class="hidden-mobile  bg-red">
                                        RED 1
                                    </th>
                                    <th class="hidden-mobile bg-red">
                                        RED 2
                                    </th>
                                    <th class="hidden-mobile bg-blue">
                                        BLUE 1
                                    </th>
                                    <th class="hidden-mobile bg-blue">
                                        BLUE 2
                                    </th>
                                    <th class="bg-red hidden-tablet hidden-desktop">
                                        RED
                                    </th>
                                    <th class="bg-red hidden-mobile" style="width:105px;">
                                        RED SCORE
                                    </th>
                                    <th class="bg-blue hidden-tablet hidden-desktop">
                                        BLUE
                                    </th>
                                    <th class="bg-blue hidden-mobile" style="width:105px;">
                                        BLUE SCORE
                                    </th>
                                    <th class="action-column" style="width:110px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Match in Model.FinalsOfficialMatches)
                                {
                                    <tr>
                                        <td>
                                            @Match.MatchNumber
                                        </td>
                                        <td class="hidden-mobile" style="background-color: rgba(255,82,82,.13);">
                                            @Model.AuthorizedTeams.Where(t => t.ID == Match.Red1TeamID).First().TeamNumber
                                            @if (Match.Red1Surrogate)
                                            {
                                                @Html.Raw('*')
                                            }
                                            <div class="hidden-tablet">
                                                @Model.AuthorizedTeams.Where(t => t.ID == Match.Red1TeamID).First().TeamName
                                            </div>
                                        </td>
                                        <td class="hidden-mobile" style="background-color: rgba(255,82,82,.13);">
                                            @Model.AuthorizedTeams.Where(t => t.ID == Match.Red2TeamID).First().TeamNumber
                                            @if (Match.Red2Surrogate)
                                            {
                                                @Html.Raw('*')
                                            }
                                            <div class="hidden-tablet">
                                                @Model.AuthorizedTeams.Where(t => t.ID == Match.Red2TeamID).First().TeamName
                                            </div>
                                        </td>
                                        <td class="hidden-mobile" style="background-color:rgba(68,138,255,.13);">
                                            @Model.AuthorizedTeams.Where(t => t.ID == Match.Blue1TeamID).First().TeamNumber
                                            @if (Match.Blue1Surrogate)
                                            {
                                                @Html.Raw('*')
                                            }
                                            <div class="hidden-tablet">
                                                @Model.AuthorizedTeams.Where(t => t.ID == Match.Blue1TeamID).First().TeamName
                                            </div>
                                        </td>
                                        <td class="hidden-mobile" style="background-color:rgba(68,138,255,.13);">
                                            @Model.AuthorizedTeams.Where(t => t.ID == Match.Blue2TeamID).First().TeamNumber
                                            @if (Match.Blue2Surrogate)
                                            {
                                                @Html.Raw('*')
                                            }
                                            <div class="hidden-tablet">
                                                @Model.AuthorizedTeams.Where(t => t.ID == Match.Blue2TeamID).First().TeamName
                                            </div>
                                        </td>
                                        <td style="background-color: rgba(255,82,82,.13);">
                                            @Match.RedScore
                                        </td>
                                        <td style="background-color:rgba(68,138,255,.13);">
                                            @Match.BlueScore
                                        </td>
                                        <td>
                                            <div class="btn-toolbar">
                                                <div class="btn-group">
                                                    <a asp-page="Edit" asp-route-EventID="@Model.eventID" asp-route-OfficialMatchID="@Match.ID" class="btn btn-primary waves-effect"><i class="material-icons">mode_edit</i></a>
                                                    <a asp-page="Delete" asp-route-EventID="@Model.eventID" asp-route-OfficialMatchID="@Match.ID" class="btn btn-primary waves-effect"><i class="material-icons">delete</i></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (Model.SemifinalsOfficialMatches.Count != 0)
    {
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Semifinals Matches</h2>
                    </div>
                    <div class="body table-responsive">
                        <table class="table table-hover" style="table-layout:fixed;">
                            <thead>
                                <tr>
                                    <th style="width:75px;">
                                        NR
                                    </th>
                                    <th class="hidden-mobile  bg-red">
                                        RED 1
                                    </th>
                                    <th class="hidden-mobile bg-red">
                                        RED 2
                                    </th>
                                    <th class="hidden-mobile bg-blue">
                                        BLUE 1
                                    </th>
                                    <th class="hidden-mobile bg-blue">
                                        BLUE 2
                                    </th>
                                    <th class="bg-red hidden-tablet hidden-desktop">
                                        RED
                                    </th>
                                    <th class="bg-red hidden-mobile" style="width:105px;">
                                        RED SCORE
                                    </th>
                                    <th class="bg-blue hidden-tablet hidden-desktop">
                                        BLUE
                                    </th>
                                    <th class="bg-blue hidden-mobile" style="width:105px;">
                                        BLUE SCORE
                                    </th>
                                    <th class="action-column" style="width:110px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Match in Model.SemifinalsOfficialMatches)
                                {
                                    <tr>
                                        <td>
                                            @Match.MatchNumber
                                        </td>
                                        <td class="hidden-mobile" style="background-color: rgba(255,82,82,.13);">
                                            @Model.AuthorizedTeams.Where(t => t.ID == Match.Red1TeamID).First().TeamNumber
                                            @if (Match.Red1Surrogate)
                                            {
                                                @Html.Raw('*')
                                            }
                                            <div class="hidden-tablet">
                                                @Model.AuthorizedTeams.Where(t => t.ID == Match.Red1TeamID).First().TeamName
                                            </div>
                                        </td>
                                        <td class="hidden-mobile" style="background-color: rgba(255,82,82,.13);">
                                            @Model.AuthorizedTeams.Where(t => t.ID == Match.Red2TeamID).First().TeamNumber
                                            @if (Match.Red2Surrogate)
                                            {
                                                @Html.Raw('*')
                                            }
                                            <div class="hidden-tablet">
                                                @Model.AuthorizedTeams.Where(t => t.ID == Match.Red2TeamID).First().TeamName
                                            </div>
                                        </td>
                                        <td class="hidden-mobile" style="background-color:rgba(68,138,255,.13);">
                                            @Model.AuthorizedTeams.Where(t => t.ID == Match.Blue1TeamID).First().TeamNumber
                                            @if (Match.Blue1Surrogate)
                                            {
                                                @Html.Raw('*')
                                            }
                                            <div class="hidden-tablet">
                                                @Model.AuthorizedTeams.Where(t => t.ID == Match.Blue1TeamID).First().TeamName
                                            </div>
                                        </td>
                                        <td class="hidden-mobile" style="background-color:rgba(68,138,255,.13);">
                                            @Model.AuthorizedTeams.Where(t => t.ID == Match.Blue2TeamID).First().TeamNumber
                                            @if (Match.Blue2Surrogate)
                                            {
                                                @Html.Raw('*')
                                            }
                                            <div class="hidden-tablet">
                                                @Model.AuthorizedTeams.Where(t => t.ID == Match.Blue2TeamID).First().TeamName
                                            </div>
                                        </td>
                                        <td style="background-color: rgba(255,82,82,.13);">
                                            @Match.RedScore
                                        </td>
                                        <td style="background-color:rgba(68,138,255,.13);">
                                            @Match.BlueScore
                                        </td>
                                        <td>
                                            <div class="btn-toolbar">
                                                <div class="btn-group">
                                                    <a asp-page="Edit" asp-route-EventID="@Model.eventID" asp-route-OfficialMatchID="@Match.ID" class="btn btn-primary waves-effect"><i class="material-icons">mode_edit</i></a>
                                                    <a asp-page="Delete" asp-route-EventID="@Model.eventID" asp-route-OfficialMatchID="@Match.ID" class="btn btn-primary waves-effect"><i class="material-icons">delete</i></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (Model.QualificationsOfficialMatches.Count != 0)
    {
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Qualification Matches</h2>
                    </div>
                    <div class="body table-responsive">
                        <table class="table table-hover" style="table-layout:fixed;">
                            <thead>
                                <tr>
                                    <th style="width:75px;">
                                        NR
                                    </th>
                                    <th class="hidden-mobile  bg-red">
                                        RED 1
                                    </th>
                                    <th class="hidden-mobile bg-red">
                                        RED 2
                                    </th>
                                    <th class="hidden-mobile bg-blue">
                                        BLUE 1
                                    </th>
                                    <th class="hidden-mobile bg-blue">
                                        BLUE 2
                                    </th>
                                    <th class="bg-red hidden-tablet hidden-desktop">
                                        RED
                                    </th>
                                    <th class="bg-red hidden-mobile" style="width:105px;">
                                        RED SCORE
                                    </th>
                                    <th class="bg-blue hidden-tablet hidden-desktop">
                                        BLUE
                                    </th>
                                    <th class="bg-blue hidden-mobile" style="width:105px;">
                                        BLUE SCORE
                                    </th>
                                    <th class="action-column" style="width:110px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Match in Model.QualificationsOfficialMatches)
                                {
                                    <tr>
                                        <td>
                                            @Match.MatchNumber
                                        </td>
                                        <td class="hidden-mobile" style="background-color: rgba(255,82,82,.13);">
                                            @Model.AuthorizedTeams.Where(t => t.ID == Match.Red1TeamID).First().TeamNumber
                                            @if (Match.Red1Surrogate)
                                            {
                                                @Html.Raw('*')
                                            }
                                            <div class="hidden-tablet">
                                                @Model.AuthorizedTeams.Where(t => t.ID == Match.Red1TeamID).First().TeamName
                                            </div>
                                        </td>
                                        <td class="hidden-mobile" style="background-color: rgba(255,82,82,.13);">
                                            @Model.AuthorizedTeams.Where(t => t.ID == Match.Red2TeamID).First().TeamNumber
                                            @if (Match.Red2Surrogate)
                                            {
                                                @Html.Raw('*')
                                            }
                                            <div class="hidden-tablet">
                                                @Model.AuthorizedTeams.Where(t => t.ID == Match.Red2TeamID).First().TeamName
                                            </div>
                                        </td>
                                        <td class="hidden-mobile" style="background-color:rgba(68,138,255,.13);">
                                            @Model.AuthorizedTeams.Where(t => t.ID == Match.Blue1TeamID).First().TeamNumber
                                            @if (Match.Blue1Surrogate)
                                            {
                                                @Html.Raw('*')
                                            }
                                            <div class="hidden-tablet">
                                                @Model.AuthorizedTeams.Where(t => t.ID == Match.Blue1TeamID).First().TeamName
                                            </div>
                                        </td>
                                        <td class="hidden-mobile" style="background-color:rgba(68,138,255,.13);">
                                            @Model.AuthorizedTeams.Where(t => t.ID == Match.Blue2TeamID).First().TeamNumber
                                            @if (Match.Blue2Surrogate)
                                            {
                                                @Html.Raw('*')
                                            }
                                            <div class="hidden-tablet">
                                                @Model.AuthorizedTeams.Where(t => t.ID == Match.Blue2TeamID).First().TeamName
                                            </div>
                                        </td>
                                        <td style="background-color: rgba(255,82,82,.13);">
                                            @Match.RedScore
                                        </td>
                                        <td style="background-color:rgba(68,138,255,.13);">
                                            @Match.BlueScore
                                        </td>
                                        <td>
                                            <div class="btn-toolbar">
                                                <div class="btn-group">
                                                    <a asp-page="Edit" asp-route-EventID="@Model.eventID" asp-route-OfficialMatchID="@Match.ID" class="btn btn-primary waves-effect"><i class="material-icons">mode_edit</i></a>
                                                    <a asp-page="Delete" asp-route-EventID="@Model.eventID" asp-route-OfficialMatchID="@Match.ID" class="btn btn-primary waves-effect"><i class="material-icons">delete</i></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (Model.PracticeOfficialMatches.Count != 0)
    {
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Practice Matches</h2>
                    </div>
                    <div class="body table-responsive">
                        <table class="table table-hover" style="table-layout:fixed;">
                            <thead>
                                <tr>
                                    <th style="width:75px;">
                                        NR
                                    </th>
                                    <th class="hidden-mobile  bg-red">
                                        RED 1
                                    </th>
                                    <th class="hidden-mobile bg-red">
                                        RED 2
                                    </th>
                                    <th class="hidden-mobile bg-blue">
                                        BLUE 1
                                    </th>
                                    <th class="hidden-mobile bg-blue">
                                        BLUE 2
                                    </th>
                                    <th class="bg-red hidden-tablet hidden-desktop">
                                        RED
                                    </th>
                                    <th class="bg-red hidden-mobile" style="width:105px;">
                                        RED SCORE
                                    </th>
                                    <th class="bg-blue hidden-tablet hidden-desktop">
                                        BLUE
                                    </th>
                                    <th class="bg-blue hidden-mobile" style="width:105px;">
                                        BLUE SCORE
                                    </th>
                                    <th class="action-column" style="width:110px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Match in Model.PracticeOfficialMatches)
                                {
                                    <tr>
                                        <td>
                                            @Match.MatchNumber
                                        </td>
                                        <td class="hidden-mobile" style="background-color: rgba(255,82,82,.13);">
                                            @Model.AuthorizedTeams.Where(t => t.ID == Match.Red1TeamID).First().TeamNumber
                                            @if (Match.Red1Surrogate)
                                            {
                                                @Html.Raw('*')
                                            }
                                            <div class="hidden-tablet">
                                                @Model.AuthorizedTeams.Where(t => t.ID == Match.Red1TeamID).First().TeamName
                                            </div>
                                        </td>
                                        <td class="hidden-mobile" style="background-color: rgba(255,82,82,.13);">
                                            @Model.AuthorizedTeams.Where(t => t.ID == Match.Red2TeamID).First().TeamNumber
                                            @if (Match.Red2Surrogate)
                                            {
                                                @Html.Raw('*')
                                            }
                                            <div class="hidden-tablet">
                                                @Model.AuthorizedTeams.Where(t => t.ID == Match.Red2TeamID).First().TeamName
                                            </div>
                                        </td>
                                        <td class="hidden-mobile" style="background-color:rgba(68,138,255,.13);">
                                            @Model.AuthorizedTeams.Where(t => t.ID == Match.Blue1TeamID).First().TeamNumber
                                            @if (Match.Blue1Surrogate)
                                            {
                                                @Html.Raw('*')
                                            }
                                            <div class="hidden-tablet">
                                                @Model.AuthorizedTeams.Where(t => t.ID == Match.Blue1TeamID).First().TeamName
                                            </div>
                                        </td>
                                        <td class="hidden-mobile" style="background-color:rgba(68,138,255,.13);">
                                            @Model.AuthorizedTeams.Where(t => t.ID == Match.Blue2TeamID).First().TeamNumber
                                            @if (Match.Blue2Surrogate)
                                            {
                                                @Html.Raw('*')
                                            }
                                            <div class="hidden-tablet">
                                                @Model.AuthorizedTeams.Where(t => t.ID == Match.Blue2TeamID).First().TeamName
                                            </div>
                                        </td>
                                        <td style="background-color: rgba(255,82,82,.13);">
                                            @Match.RedScore
                                        </td>
                                        <td style="background-color:rgba(68,138,255,.13);">
                                            @Match.BlueScore
                                        </td>
                                        <td>
                                            <div class="btn-toolbar">
                                                <div class="btn-group">
                                                    <a asp-page="Edit" asp-route-EventID="@Model.eventID" asp-route-OfficialMatchID="@Match.ID" class="btn btn-primary waves-effect"><i class="material-icons">mode_edit</i></a>
                                                    <a asp-page="Delete" asp-route-EventID="@Model.eventID" asp-route-OfficialMatchID="@Match.ID" class="btn btn-primary waves-effect"><i class="material-icons">delete</i></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
}

<a class="btn btn-primary btn-circle-lg waves-effect waves-circle waves-float" style="position:fixed; right:35px; bottom:35px;" asp-page="Create" asp-route-EventID="@Model.eventID">
    <i class="material-icons">add</i>
</a>