@page
@model SkystoneScouting.Areas.Admin.ActivityModel

@{
    ViewData["Title"] = "Activity";
}

<h1>Activity</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserActivity[0].Action)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserActivity[0].DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserActivity[0].PerformedBy)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserActivity)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Action)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PerformedBy)
                </td>
            </tr>
        }
    </tbody>
</table>