@page
@model SkystoneScouting.Pages.ScoutedMatches.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ScoutedMatch</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoutedMatch.Alliance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoutedMatch.Alliance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoutedMatch.HumanPlayer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoutedMatch.HumanPlayer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoutedMatch.MajorPenalties)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoutedMatch.MajorPenalties)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoutedMatch.MinorPenalties)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoutedMatch.MinorPenalties)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoutedMatch.Score)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoutedMatch.Score)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoutedMatch.StartingPosition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoutedMatch.StartingPosition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoutedMatch.TeamID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoutedMatch.TeamID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ScoutedMatch.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
